
.slider-image1 {
  background-image:url("../png/index_banner3.jpg");
  height: 91vh;
  background-position: center; 
  background-size: 100% 100%;
  background-repeat: no-repeat;

}


.slider-image2 {
  background-image:url("../png/index_banner.png");
  height: 91vh;
  background-position: center; 
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.slider-image3 {
  background-image:url("../png/Back.png");
  height: 91vh;
  background-position: center; 
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


#english {
  background-image: url('../png/mathbackground.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}


@media only screen and (max-width: 768px) {
  #english {
    background-image: none;
    background-color: rgb(240, 246, 235);
  }
}

/* slick */
.slick-next {
  right: 20px;
}

.slick-next:before {
  font-family: FontAwesome;
  font-size: 35px;
  line-height: 1;
  content: "\f105";
  color: #ffff;

}

.slick-prev {
  left: 20px;
  z-index: 2;
}

.slick-prev:before {
  font-family: FontAwesome;
  font-size: 35px;
  line-height: 1;
  content: "\f104";
  color: #ffff;

}
.slick-dots{
  bottom: 20px;
 }

 .slick-dots li.slick-active button:before{
   color: black;
 }

.slider1 {
  display: flex !important;
  align-items: center !important;
  margin: auto auto !important;
  width: 50% !important;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
}


/* slick */

#testtext {

  border: solid 5px rgb(0, 107, 146, 1);

}


#testbtn {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 10px;
}

/* other course */
/* .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  grid-row-gap: 1em;
  grid-column-gap: 10px;
}

.box2 {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
} */

.btn1 {
  padding: 20px;
  background-position: 50%;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
} 

.btn1.active,.btn1:hover {
background-color: rgb(0, 107, 146, 1);
color: white;
}

#thetext {
  border-radius: 20px;
  box-shadow: 0 2px 7px 0 rgb(0 0 0 / 23%);
  background-color: #fff;
  padding: 60px 50px;
}

@media only screen and (max-width: 768px) {
  /* .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .slider1 {
    width: 90% !important;
  } */

  #btn1 {
    min-height: auto;

  }
  #thetext{
    margin-top: 20px;
  }

  .slider-image3 {
    background-image:url("../png/Back_mobile.png");

  }
  .slider-image1 {
    background-image:url("../png/index_banner3_mobile.jpg");

  }
}


/*
  #math{
    display: block;
      height: 100px;
      margin-top: -100px;
      visibility: hidden;
  } */