<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shining Stars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./contactus.css">
    <style>
        .fa {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .fa-facebook {
            background: #3B5998;
            color: white;
            display: grid;
            align-items: center;
            text-align: center;
        }

        .fa-instagram {
            background: #ea4c89;
            color: white;
            display: grid;
            align-items: center;
            text-align: center;
        }

        .fa-youtube {
            background: #bb0000;
            color: white;
            display: grid;
            align-items: center;
            text-align: center;
        }
    </style>
</head>


<!-- start navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light"
    style="background-color: white; box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.19);">
    <a class="navbar-brand" href="./index">
        <img src="./png/logo.png" width="145px" height="50px" style="margin-bottom: 7px" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="justify-content: flex-end;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="./index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./teacher">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./freeapply">免費試堂/報名</a>
            </li>
            <li class="nav-item active" style="font-weight: bold;">
                <a class="nav-link" href="./contactus">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
<!-- end navbar -->

<div class="container" style="margin-top: 90px;">


</div>


<!-- start Footer -->
<footer class="page-footer font-small" style="background-color: rgb(100, 100, 100);color: white;">

    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left mt-3 ">
            <!-- Grid column -->
            <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="font-weight-bold">Shining Stars Learning Institute 星仔教育</h6>
                Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                consectetur
                adipisicing elit.
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase  font-weight-bold">Contact</h6>
                <i class="fa fa-home"></i> Hong Kong, NY 10012, HK</br>
                <i class="fa fa-envelope"></i> shiningstar@gmail.com</br>
                <i class="fa fa-phone"></i> +852 5398 3434</br>
                <i class="fa fa-print"></i> +852 5398 3434</br>
            </div>
            <!-- Grid column -->
        </div>

        <!--start Footer links -->
        <hr>
        <!-- Grid row -->
        <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8">
                <!--Copyright-->
                <p class="text-center text-md-left">© 2021 Copyright: Shining Stars Learning Institute 星仔教育</p>
            </div>
            <div class="col-md-5 col-lg-4 ml-lg-0">
                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="fa fa-facebook"></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="fa fa-instagram"></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="fa fa-youtube"></a>
                        </li>
                    </ul>
                </div>
                <!-- end Social buttons -->
            </div>
        </div>
    </div>
    <!-- end Footer Links -->
</footer>
<!-- end Footer -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="./script.js"></script>

</body>

</html>