  <!-- start Footer -->
  <footer class="page-footer font-small" style="background-color: rgb(100, 100, 100);color: white;">

    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left mt-3 ">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase font-weight-bold">Company name</h6>
          Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase  font-weight-bold">Contact</h6>
          <i class="fa fa-home"></i> New York, NY 10012, US</br>
          <i class="fa fa-envelope"></i> shiningstar@gmail.com</br>
          <i class="fa fa-phone"></i> +852 5398 3434</br>
          <i class="fa fa-print"></i> +852 5398 3434</br>
        </div>
        <!-- Grid column -->
      </div>

      <!--start Footer links -->
      <hr>
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
        <div class="col-md-7 col-lg-8">
          <!--Copyright-->
          <p class="text-center text-md-left">© 2021 Copyright: shiningstar</p>
        </div>
        <div class="col-md-5 col-lg-4 ml-lg-0">
          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="#" class="fa fa-facebook"></a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- end Social buttons -->
        </div>
      </div>
    </div>
    <!-- end Footer Links -->
  </footer>
  <!-- end Footer -->